
 body {
    height: 100%;
    margin: 0;
}

main {
    padding-bottom: 3rem;

}
.btn-submit:hover, .btn-submit:active{
    background-color:#3d4557;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

#intro_text p{
    line-height: 1.6;
    margin-bottom: 1.5rem;
}
#intro_text ol li{
   padding-bottom: 1rem;
}

